body {
  background-color: lightgrey;
  font-family: "Helvetica";
}

h1 {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
}

h4 {
  margin: 0px;
  padding: 0px;
}